<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Mazzetti-Nuget" value="https://pkgs.dev.azure.com/mazzetti/_packaging/MazzettiNuget/nuget/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Mazzetti-Nuget>
      <add key="Username" value="bedge@mazzetti.com" />
      <add key="ClearTextPassword" value="guETBKdJwNIjwLJBbh99eTBtP5k4hv9JLOyLn2Lvb6hQwuLqZ3axJQQJ99BAACAAAAAQB7lRAAASAZDO9jK4" />
    </Mazzetti-Nuget>
  </packageSourceCredentials>
</configuration>